<!DOCTYPE HTML>
<html>
	<head>
		<title>Naba Rugs</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="../assets/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="../assets/css/superslides.css">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/icons.css">
		<link rel="stylesheet" href="../assets/css/vendor/animate.min.css">
		<link rel="stylesheet" href="../assets/css/vendor/font-awesome.min.css">		
		<link rel="shortcut icon" href="img/ico/32.png" sizes="32x32" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" href="img/ico/60.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/72.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/ico/120.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/ico/152.png" type="image/png"/>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="home" ng-app="NabaRugsApp" ng-controller="ProductsController">
		<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">
						<img id="navlogo" src="../assets/images/logo/NabaRugsNav.png" alt="NabaRugs" width="122" height="45">
					</a>

				</div>
				<div class="collapse navbar-collapse">
					<ul id="navigation" class="nav navbar-nav navbar-right text-center">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#products">Products</a></li>
<!-- 					<li data-toggle="dropdown"><a href="#">Products</a></li>
						  <ul class="dropdown-menu" ng-click="reloadPage()">
							<li><a class="external" href="products.html#?cid=1000">All</a></li>
							<li ng-repeat="category in allCat"><a class="external" href="products.html#?cid={{category.id}}">{{category.name}}</a></li>
						  </ul>
					</li> -->
					<li><a href="#testimonial">Testimonials</a></li>
					<li><a href="#contact">Contact</a></li>
					</ul>
				</div>

			</div>
		</div>

		<section id="hero" class="light-typo ">
			<div class="container welcome-content">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeInUp">
						<img id="logo" src="../assets/images/logo/NabaRugs.png" class="img-responsive text-center" alt="NabaRugs" width="300">
						<h2>We Have Your Carpets</h2>
						<ul class="social-links text-center">
							<li><a href="https://twitter.com/nabarugs" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://twitter.com/nabarugs" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="mailto:nabarugs@gmail.com"><i class="fa fa-envelope"></i></a></li>
						</ul>
						<a class="btn btn-store smooth-scroll external" href="products.html#?cid=1000">browse the collection</a>
					</div>
				</div>
			</div>
			<div class="overlay-bg"></div>
			<div id="hero-slides">
				<div class="slides-container">
					<img src="../assets/images/hero/hero_4.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -90.5px; top: 0px; z-index: -1; max-width: none; height: 706px; width: 1059px;">
					<img src="../assets/images/hero/hero_5.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -90.5px; top: 0px; z-index: -1; max-width: none; height: 706px; width: 1059px;">
					<img src="../assets/images/hero/hero_6.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -90.5px; top: 0px; z-index: -1; max-width: none; height: 706px; width: 1059px;">
				</div>
			</div>
		</section>
		
		<section id="about" class="padding-top-bottom ">
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow fadeInLeft">
						<header class="section-header cta-message">
							<h2>About Naba Rugs</h2>
						</header>
					</div>
					<div class="col-md-8 cta-message wow fadeInUp">
						<p>Influential, innovative and progressive, Naba Rugs is reinventing a wholly modern approach to carpets, creating masterpieces using exceptional design skills and only the finest raw materials.</p>
						<p>Naba Rugs was established in the year 1995 and in a span of 20 years has become the leading manufacturer and Exporter of carpets and rugs. Eclectic, contemporary, romantic NabaRugs products represent the pinnacle of Indian craftsmanship and are unsurpassed for their quality and attention to detail.</p>
						<p style="display:none;" id="showme">Loom-knotted, Hand-tuffted, Indo-Nepali, shaggy and Indo-Gabhe in different colours, design and quality (silk, wool and polyester) are some of the most popular types of carpets. Browse the whole collection <a href="products.html#?cid=1000">here</a>.</p>
						<a class="btn btn-store outline" id="show-btn" href="#">Read more</a>
					</div>
				</div>
			</div>
		</section>

		<section id="products" class="gray-bg padding-top-bottom">
			<div class="container">
				<header class="section-header text-center">
					<h1><strong>Product Categories</strong></h1>
				</header>
					<div class="row text-center">
					    <br />

					  <div ng-repeat="category in allCat" class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="10">
					  <div class="img-box">
						<a class="external" href="products.html#?cid={{category.id}}">
							<div class="hover-mask2"></div>
							<span class="product-icon fa fa-search-plus"></span>
					  
					  <img class="img-responsive project-image" src="../assets/images/products/cid{{category.id}}/thumbnail/{{category.skus[0].thumb_image}}" alt="" /><b>
					  {{category.name}}</b></a>
					  </div>
					  </div>
					</div>

			</div>
		</section>
		
		<section id="testimonial" class="padding-top-bottom image-bg light-typo">
			<div class="container">
				
				<div class="testimonial">
					<div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example" data-interval="10000">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
							<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<h1><i>"Best product at best price! <br>Highly recommended!"</i></h1>
								<br>
								<h3>Yaz Khan</h3>
							</div>
							<div class="item">
								<h1><i>"Naba Rugs shipped before time,<br>saved us the embarrassment!"</i></h1>
								<br>
								<h3>Giorgio Arrigoni</h3>
							</div>
							<div class="item">
								<h1><i>"Huge Collection! <br>Best material!"</i></h1>
								<br>
								<h3>Hassan Ubu</h3>
							</div>
						</div>
						<br><br><br>
					</div>
				</div>
				<div class="overlay-bg"></div>
			</div>
		</section>

		<section id="cta" class="padding-top-bottom color-bg light-typo">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-4 col-sm-4 news wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="10">
						<i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>
						<h3>Quality Guaranteed</h3>
					</div>
					<div class="col-md-4 col-sm-4 news wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="10">
						<i class="fa fa-heart fa-5x" aria-hidden="true"></i>
						<h3>Awesome Designs</h3>
					</div>
					<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="10">
						<i class="fa fa-usd fa-5x" aria-hidden="true"></i>
						<h3>Best Price</h3>
					</div>
				</div>
			</div>
		</section>

		<section id="contact" class="gray-bg padding-top-bottom">
			<div class="container">
				<header class="section-header text-center">
					<h1><strong>Contact</strong></h1>
					<p>For any information or concerns, please contact us:</p>
				</header>
					<div class="row text-center">
					    <br />
					  <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="10">
						<a href=""><i class="fa fa-whatsapp fa-4x" aria-hidden="true"></i></a>
					  </div>
					  <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="10">
						<a href="https://twitter.com/nabarugs" target="_blank"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
					  </div>
					  <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="10">
						<a href=""><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a>
					  </div>
					  <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="10">
						<a href="https://www.instagram.com/nabarugs/" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
					  </div>
					  <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="10">
						<a href=""><i class="fa fa-skype fa-4x" aria-hidden="true"></i></a>
					  </div>
					  <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="10">
						<a href="mailto:nabarugs@gmail.com"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i></a>
					  </div>
					  <br />
					  <br />
					  <br />
					  <br />
					  <br />
					</div>

			</div>
		</section>

		<footer id="main-footer" class="dark-bg light-typo">
			<div class="container">
				<p class="pull-left copyright wow fadeInUp">&copy; 2016 Naba Rugs - All rights reserved.</p>

				<div class="pull-right paymentMethodImg copyright wow fadeInRight">
					<a class="btn btn-store outline" href="#" data-toggle="modal" data-target=".text-modal">Terms & conditions</a>
				</div>
			</div>
		</footer>

		<div class="modal fade text-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="color-bg">	
						<div class="container">
							<div class="row ">
								<div class="col-xs-12 col-sm-12 col-md-12 color-bg light-typo" id="9modal-bar">
									<h2 class="pull-left">TERMS & CONDITIONS</h2>
									<a class="close pull-right" href="#" data-dismiss="modal" ><i class="fa fa-close"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row ">
							<div class="col-xs-12 col-sm-6 col-md-6" >	
								<h3>Warranty claims</h3>
								<p>There is a 2 years warranty on all products sold by Naba Rugs. This warranty covers manufacturing faults only, not wear and tear from regular use. Please contact us at nabarugs@gmail.com if you have a warranty claim, including order number, photos of the claim area and a description of the claim.</p>
								<h3>Disclaimer</h3>
								<p>Naba Rugs does not guarantee that all items shown are in stock at the time of your order. In the event that an item is unavailable for whatever reason, Naba Rugs will contact you by e-mail. Although we do our best to display correct images, correct colours, info and prices, errors may occur.</p>
								<h3>Privacy policy</h3>
								<p>All your personal information is handled under strict confidence. Naba Rugs will never give any of your personal information to 3rd parties.</p>
								<h3>Cookies</h3>
								<p>Cookies are used by Naba Rugs in order to improve your experience when browsing and using the website. The cookie identifies your computer and allows the site to remember your personal settings. Naba Rugs may not operate properly when cookies are disabled in your web browser.</p>
								<h3>Measurements</h3>
								<p>All measurements are approximate and variance may occur. We have done our best but please have average sizing in mind and note that +/- 1cm on each measurement may occur.</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6" >
								<h3>Age restrictions</h3>
								<p>Parental or guardian consent is required for customers under the age of 18.</p>
								<h3>Governing law</h3>
								<p>The terms of use are complied in accordance with Indian law and the Indian courts will have exclusive jurisdiction.</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 text-center" >	
								<a class="btn btn-store" href="#" data-dismiss="modal">Back to shop</a><br><br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../assets/js/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="../assets/js/vendor/bootstrap.min.js"></script>
		<script type="text/javascript" src="../assets/js/vendor/jquery.singlePageNav.min.js"></script>
		<script type="text/javascript" src="../assets/js/vendor/jquery.superslides.min.js"></script>
		<script type="text/javascript" src="../assets/js/vendor/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="../assets/js/vendor/wow.min.js"></script>
		<script type="text/javascript" src="../assets/js/custom.js"></script>
		<script type="text/javascript" src="../assets/js/controller_products.js"></script>
	</body>
</html>